@page
@using global::Delux.Pages.Extensions
@model Delux.Areas.Salon.Pages.Clients.DeleteModel

@{
    Layout = "_Delete";
}


<body>
    @Html.DisplayControlsFor(m => m.Item.Id)
    @Html.DisplayControlsFor(m => m.Item.Name)
    @Html.DisplayControlsFor(m => m.Item.MailAddress)
    @Html.DisplayControlsFor(m => m.Item.PhoneNumber)
</body>
