@page
@using global::Delux.Pages.Extensions
@model Delux.Areas.Salon.Pages.Technicians.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}

@section Create {
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create"))
}

<body>
    <table class="table">
        <thead>
            @Html.TableHeaderFor(
                new Link(Html.DisplayNameFor(m => m.Item.Id), Model.GetSortString(m => m.Id, page)),
                new Link(Html.DisplayNameFor(m => m.Item.TechnicianTypeId), Model.GetSortString(m => m.TechnicianTypeId, page)),
                new Link(Html.DisplayNameFor(m => m.Item.Name), Model.GetSortString(m => m.Name, page)),
                new Link(Html.DisplayNameFor(m => m.Item.WorkedYears), Model.GetSortString(m => m.WorkedYears, page)),
                new Link(Html.DisplayNameFor(m => m.Item.AvailableDays), Model.GetSortString(m => m.AvailableDays, page))
                )

        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    @Html.TableRowFor(
                        page,
                        item.Id,
                        Model.FixedFilter,
                        Model.FixedValue,
                        Html.DisplayFor(modelItem => item.Id),
                        Html.DisplayFor(modelItem => item.TechnicianTypeId),
                        Html.DisplayFor(modelItem => item.Name),
                        Html.DisplayFor(modelItem => item.WorkedYears),
                        Html.DisplayFor(modelItem => item.AvailableDays)
                        )
                </tr>
            }
        </tbody>
    </table>
</body>